<div class="page-header">
  <h1>SOLVE THIS FUCKING PROBLEM</h1>
</div>

<h3><%= @flip.description %></h3>

<div class="row">
  <div class="span6">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><span class="bold">Sample Input</span></td><td><code><%= display_output(@flip.input) %></code></td>
        </tr>
        <tr>
          <td><span class="bold">Sample Output</span></td><td><code><%= @flip.valid_output %></code></td>
        </tr>
        <% if current_team.turn_attempts > 0 %>
          <tr>
            <td><span class="bold">Your Output</span></td><td><code><%= display_output(@flip.run_user_code(params[:solution])) %></code></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= form_for(@flip, :url => solve_flip_url)  do |f| %>
  <p>
    <code>def solve(input)</code>
  </p>
  <%= text_area_tag :solution, params[:solution], :size => "200x10" %>
  <p>
    <code>end</code>
  </p>
  <%= submit_tag 'Run my stupid code', :class => 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
$(function () {
  var $solution = $('textarea');

  setInterval(function () {
    $.ajax({
	 	  url: '/teams/<%= current_team.id.to_s %>/current_text'
  	, data: { key: $solution.val(), team_representation: 'not sure what this means?'}
    , type: 'PUT'
  	});
  }, 1000)
});
  
</script>
